.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pre {
  white-space: pre-line;
  word-break: break-all; // 换行
}
.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tran-x {
  left: 50%;
  transform: translateX(-50%);
}
.tran-y {
  top: 50%;
  transform: translateY(-50%);
}
.a-dc {
  animation: dc .5s infinite;
  @keyframes dc {
    from {
      transform: scale(.95);
    }
    50% {
      transform: scale(1.05);
    }
    to {
      transform: scale(.95);
    }
  }
}